body {
  margin: 0 auto;
}
header {
  width: 100%;
  height: 80px;
  background: #333333;
}

img {
  margin: 20px;
}

select {
  margin: 27px;
  float: right;
}

.nav-tabs1, .nav-tabs {
  display: flex;
  list-style: none;
}
.nav-tabs1 a {
  margin-right: -1px;
  color: #ffa400;
  text-decoration: none;
  background: #fff;
  border-radius: 12px;
  padding: 7px;
  font-size: 20px;
  border: 1px solid;
}
.nav-tabs a {
  margin-right: -1px;
  color: #000;
  text-decoration: none;
  background: #f9a91a;
  border-radius: 12px;
  padding: 7px;
  font-size: 20px;
  border: 1px solid;
}

hr {
  margin-top: 18px;
}
a:hover {
  background: #c3800a;
}

/*enrollment*/

.graficos {
  display: -webkit-box;
  display: -webkit-box;
  margin-right: 37px;
}

.enrollment {
  width: 500px;
  height: 500px;
  background: #dbdfe0
}

.achievement {
  width: 500px;
  height: 500px;
  background: #dbdfe0
}
